/*************RESPONSIVE CODE*****************/

@media screen and (max-width: 1400px) {
  .grid .portfolioItem .container {
  	top: 30%;
  }
}

@media screen and (max-width: 1300px) {
  #header .inner div {
  	top: 360px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 13.5px;
  }
  #header h1 {
  	font-size: 2em;
  }
  #header h2 {
  	font-size: 1.3em;
  	padding-bottom: 30px;
  }
  h3 {
  	font-size: 1.6em;
  }
  h4, #header h4 {
  	font-size: 1.2em;
  	font-weight: 400;
  }
  #header .inner div {
  	top: 300px;
  }
  header nav ul > li {
  	padding: 0 .5em;
  }
  header div#mainLogo {
  	margin-top: -17px;
  }
  section.white {
  	padding: 72px 0;
  }
  .subfooter {
  	padding: 20px 0;
  }
  footer {
  	padding: 75px 0 50px;
  }
  footer .centerCol {
  	width: 35%;
  	margin-left: 9%;
  }
  .grid .portfolioItem {
  	height: 200px;
  }
  .grid .portfolioItem .container {
  	top: 30%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 13px;
  }
  #header {
  	clear: both;
  	margin-top: -60px;
  	height: 500px;
  	position: absolute;
  	overflow: hidden;
    -webkit-transition: all, 400ms, ease;
    -moz-transition: all, 400ms, ease;
    -o-transition: all, 400ms, ease;
    -ms-transition: all, 400ms, ease;
    transition: all, 400ms, ease;	  		
  	.inner div {
  		top: 180px;
  	}
  	&.darken {
  		opacity: .1;
  	}
  	video {
  		margin-top: -60px;
  	}
  }
  #metalwork-link {
  	display: none;
  }
  header {
  	height: 60px;
	  div#mainLogo {
	  	width: 60%;
	  	margin: -35px 0 0 20%;
		a {
			display: block;
			text-align: center;
		}  	
		.icon-logo-main-v2 {
		  	font-size: 10em;
		}
	}
	nav {
	  	position: absolute;
	  	width: 30%;
	  	right: 0;
	  	top: -23px;
	    -webkit-transition: height, 400ms, ease;
	    -moz-transition: height, 400ms, ease;
	    -o-transition: height, 400ms, ease;
	    -ms-transition: height, 400ms, ease;
	    transition: height, 400ms, ease;	  		
	  	#nav {
		  	display: block;
		  	color: #fff;
		  	cursor: pointer;
		  	position: absolute;
		  	top: 9px;
		  	right: -10px;
		  	font-size: 7em;
		  	&:hover {
		  		color: @blue;
		  		.transition;
		  	}
		}
	  	ul {
	  		height: 0;
	  		overflow: hidden;
	  		&.expand {
	  			height: auto;
				text-align: right;
				margin-top: 90px;
				overflow: visible;
	  		}
	  		li {
	  			display: block;
	  			line-height: 3em;
	  			padding: 0;
	  			span.icon-arrow-double:hover {
	  				color: @yellow;
	  			}
	  			a:hover {
	  				color: @yellow;
	  			}
	  			&.drop {
	  				margin: 0 -30px -20px 0;
	  				ul {
	  					position: relative;
	  					background-color: transparent;
	  					margin: 0px -20px 20px -30px;
	  					li {
	  						margin: 0;
	  					}
	  					&.expanded {
	  						margin-bottom: 25px!important;
	  						height: auto;
	  					}
	  				}
	  			}
	  			span.icon-arrow-double {
	  				top: 5px;
	  			}
	  		}
	  	}
  	}
  }
  #metalwork {
  	margin-top: 440px;
  }
  #metalwork .four article {
  	width: 47%;
  	&:first-child {
  		display: none;
  	}
  	&:last-child {
  		display: none;	
  	}
  }
  .fixed {
  	height: 140px;
  }
  .grid .portfolioItem {
  	height: 180px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12.5px;
  }
  header nav #nav {
  	top: 7px;
  }
  #header video {
  	margin-top: 0;
  }
  .grid .portfolioItem {
  	height: 160px;
  }
  h3 {
  	padding-bottom: 35px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  #header video {
  	margin-top: 60px;
  }
  header nav #nav {
  	top: 13px;
  }
  header nav ul li.drop ul {
  	margin-right: -10px;
  }
  footer .leftCol {
  	width: 20%;
  	.icon-iso-badge {
  		font-size: 10em;
  	}
  }
  footer .centerCol {
  	width: 42%;
  }
  .grid .portfolioItem {
  	height: 140px;
  }
  .grid .portfolioItem .container {
  	top: 20%;
  }
  .grid .portfolioItem .btn {
  	bottom: 5%;
  }
  .btn {
  	font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
	#header video {
		width: 120%;
	}
	section.white, section.dark {
		padding: 60px 0;
	}
}

@media screen and (max-width: 700px) {
	#header video {
		width: 130%;
	}
	.four article {
		width: 47%;
		&:first-child {
			margin-bottom: 50px;
		}
		&:nth-child(2) {
			margin-bottom: 50px;
		}
	}
	#metalwork .four article {
		margin-bottom: 0;
	}
	.grid .portfolioItem {
		width: 49%;
		height: 210px;
	}
	footer ul > li ul li {
		padding-left: 20px;
	}
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
}
